
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(
    45deg,
    #f0f0f0,
    #f0f0f0 20px,
    #e0e0e0 20px,
    #e0e0e0 40px
  );
}


.container {
  padding: 2rem 7rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.result-images {
  display: flex;
  column-gap: 7rem;
  width: 400px;
}

.result-images img {
  width: 100%;
}

.user-result img {
  transform: rotate(90deg);
}

.cpu-result img {
  transform: rotate(-90deg) rotateY(180deg);
}

.container.start .user-result {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}

.container.start .cpu-result {
  transform-origin: right;
  animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
  50% {
    transform: rotate(-10deg);
  }
}

/* Resultado */
.result {
  text-align: center;
  font-size: 2rem;
  color: #de0d64;
  margin-top: 1.5rem;
}

/* Opciones del juego */
.option-images {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
}

.option-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.option-image.active,
.option-image:hover {
  opacity: 1;
}

.option-image img {
  width: 50px;
  pointer-events: none;
}

.option-image p {
  color: #3477eb;
  font-size: 1.235rem;
  margin-top: 1rem;
  pointer-events: none;
}

.container.start .option-images {
  pointer-events: none;
}


.boton {
  display: inline-block;
  padding: 10px 25px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #45a049;
}

.boton:active {
  box-shadow: 0 4px 0 #005ab2, 0 5px 10px rgba(0, 0, 0, 0.7);
  transform: translateY(4px);
}


.lista {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.lista ul {
  list-style-position: inside;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  line-height: 1.6;
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(40px); /* Se desliza desde abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicar solo a la imagen con la clase */
.img-animada {
  opacity: 0; /* Oculta al inicio */
  animation: aparecer 1s ease-out forwards;
  animation-delay: 0.5s; /* Espera un poco antes de empezar */
}